hoist=true
hoist-pattern[]=*eslint*
hoist-pattern[]=*prettier*
hoist-pattern[]=*typescript*
hoist-pattern[]=@types/*
hoist-pattern[]=*jest*
hoist-pattern[]=ts-jest
hoist-pattern[]=ts-node
hoist-pattern[]=tsconfig-paths
public-hoist-pattern[]=reflect-metadata
public-hoist-pattern[]=*@nestjs/*
public-hoist-pattern[]=next
